<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

       <h1>Opps Content not found</h1>
       <h2>404-error</h2>
       <h3>Not Found</h3>
    <%- include('./partials/footer.ejs')%>
</body>
</html>