<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam aliquid quasi tempore perspiciatis quo officia fugiat, accusamus molestiae iste deserunt temporibus vel? Dolorem voluptates velit non necessitatibus sed at hic eligendi doloremque dolore molestiae. Repudiandae perferendis minus ipsum exercitationem ratione quis iure! Illum consectetur quam maiores ipsam dolorum esse facilis, deserunt itaque cumque aut corrupti quis iusto voluptatibus, ratione blanditiis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam aliquid quasi tempore perspiciatis quo officia fugiat, accusamus molestiae iste deserunt temporibus vel? Dolorem voluptates velit non necessitatibus sed at hic eligendi doloremque dolore molestiae. Repudiandae perferendis minus ipsum exercitationem ratione quis iure! Illum consectetur quam maiores ipsam dolorum esse facilis, deserunt itaque cumque aut corrupti quis iusto voluptatibus, ratione blanditiis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam aliquid quasi tempore perspiciatis quo officia fugiat, accusamus molestiae iste deserunt temporibus vel? Dolorem voluptates velit non necessitatibus sed at hic eligendi doloremque dolore molestiae. Repudiandae perferendis minus ipsum exercitationem ratione quis iure! Illum consectetur quam maiores ipsam dolorum esse facilis, deserunt itaque cumque aut corrupti quis iusto voluptatibus, ratione blanditiis?</p>

    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>